.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 0;
  outline: none;
  background-color: $yellow;
  width: 240px;
  height: 48px;

  &__text {
    color: $color-text;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__arrow {
    width: 25px;
    height: 50px;
  }
}
