$min-width-mobile: 320px;
$min-width-tablet: 640px;
$min-width-desktop: 1280px;
$max-width: 1440px;
$min-width: 320px;
$effect-duration: 0.3s;
$padding-inline-mobile: 30px;
$padding-inline-tablet: 34px;
$padding-inline-desktop: 135px;

// colors
$turquoise: #03839E;
$yellow: #FFE339;
$yellow-light: #FFEC7A;
$grey: #B3B3B3;
$grey-light: #F8F8F8;
$red: #EB5757;
$black: #000;
$white: #fff;
$color-333: #333;
$color-text: #121212;
$color-nav-text: #4f4f4f;
